#header {

    background:#3a5795;
    font-family: algerian;
    color:white;
    text-align:center;
    padding:5px;
    box-shadow: 0 0 5px black;
    padding: 1%;
    border: 1px solid white;
    height:auto;
}

#section2 .tab,
#section1 .tab {
    

    text-align: center;
    width: 235px;
    height: 320px;
    padding-bottom: 10%;
    padding :3%;
    border-radius: 5%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background:#2FC19E;
    box-shadow: 0 0 3px ;
    float : left;
    margin:10px;
}

#section1,
#section2{
    border: 1px solid blue;
    width:100%;
    height:auto;
    float:left;
    margin: 2px;
}

#header span{
    font-size: 20px;
    text-decoration: none;



}

.container .tab{
    text-align: center;
    width: 30%;
    height: 460px;
    padding :3%;
    border-radius: 5%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background:#2FC19E;
    box-shadow: 0 0 3px ;
    float : left;
    margin:10px;
    

}

.container .row .paginate{
    float:left;
    width:100%;


}


.round-button {
    width: 7%;
    height: 0;
    padding-bottom:7%;

    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #35abdb;
    box-shadow: 0 0 1px gray;
}

.round-button:hover {
    background: #2db34a;
}

.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}